.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.button {
    background-color: #45654b;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    margin-right: 12px;
}

.button:hover,
.button:focus {
    background-color: #809a71;
}

.question h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 12px;
}

.question div {
    font-family: MontserratArm;
}

.buttons {
    margin-bottom: 40px;
}

.small_text {
    margin-top: 20px;
    font-size: 12px;
    width: 70%;
    text-align: center;
}