.wrapper {
  text-align: center;
  position: relative;
}
.footer_img{
  width: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.wrapper h2 {
  margin: 60px 0 30px;
  font-size: 24px;
}
.wrapper p {
  width: 50%;
  margin: 0 auto;
}

.calendar {
  margin: 30px 0;
}

.calendar p {
  margin-bottom: 12px;
}
