@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:wght@500&family=Rubik:wght@300;400;600;900&display=swap');

.olive_branch {
    display: flex;
    justify-content: center;
    padding: 25px 0;
}

.olive_branch img {
    width: 60%;
}

.about_couple {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about_couple p {
    font-size: 12px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.about_couple img {
    margin-top: 20px;
    width: 70%;
}


.nice_text {
    margin: 20px 12px 0;
    text-align: center;
    font-size: 13px;
}