.wrapper {
  /* height: clamp(18.75rem, 0rem + 50vw, 25rem); */
  height: 40vh;
  width: 100vw;
}

.text_wrapper img {
  margin: 8px 0;
  width: 160px;
}

.photo {
  background: url("../../public/images/main_cold.jpg") no-repeat;
  height: 100%;
  /* background-size: contain; */
  background-size: cover;
  background-position: center;
}

.text_wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  width: 45%;
}

.photo h1 {
  /* font-size: clamp(1.5rem, 0rem + 4vw, 2rem); */
  font-size: 20px;
  font-family: CosiArm;
  text-align: center;
}

.photo hr {
  border: 1px solid rgba(0, 0, 0, 0.416);
  width: 400px;
}


.date {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  /* .photo h1 {
    font-size: clamp(0.8rem, 0rem + 4vw, 1.5rem);
  } */

  /* .nice_text {
    font-size: 12px;
  } */

  /* .text_wrapper {
    padding-left: clamp(1.143125rem, 0.0003rem + 5.7143vw, 2.143125rem);
  } */

  /* .wrapper {
    height: clamp(10rem, 0rem + 50vw, 18.75rem);
  } */
}

/* @media only screen and (max-width: 320px) {
  .nice_text {
    font-size: 7px;
  }
} */