.wrapper {
  height: 40vh;
  width: 100vw;
}

.text_wrapper img {
  margin: 8px 0;
  width: 160px;
}

.photo {
  background: url("../../public/images/main_cold.jpg") no-repeat;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.text_wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  width: 45%;
}

.invitation {
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
}

.photo h1 {
  margin-top: 8px;
  font-size: 20px;
  font-family: CosiArm;
  text-align: center;
}

.photo hr {
  border: 1px solid rgba(0, 0, 0, 0.416);
  width: 400px;
}


.date {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}