@font-face {
  font-family: Amanor;
  src: url(../../public/fonts/BraindAmanor.otf);
}

@font-face {
  font-family: SHK_Dzeragir;
  src: url(../../public/fonts/SHK_Dzeragir.otf);
}

@font-face {
  font-family: CosiArm;
  src: url(../../public/fonts/CosiArm.ttf);
}

.wrapper {
  height: clamp(18.75rem, 0rem + 50vw, 25rem);
  width: 100vw;
}

.photo {
  background: url("../../public/images/main.JPG") no-repeat;
  height: 100%;
  background-size: contain;
}

.text_wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding-left: clamp(2.143125rem, 0.0019rem + 5.71vw, 2.856875rem);
}

.photo h1 {
  font-size: 28px;
  font-family: CosiArm;
}

.date {
  margin: 20px 0;
  font-size: 24px;
}

.photo hr {
  border: 1px solid rgba(0, 0, 0, 0.416);
  width: 400px;
}

.nice_text {
  margin-top: 20px;
  width: 41%;
  font-size: clamp(1.018125rem, 0.0019rem + 2.71vw, 1.356875rem);
}

@media only screen and (max-width: 600px) {
  .photo h1 {
    font-size: clamp(0.8rem, 0rem + 4vw, 1.5rem);
  }
  .nice_text {
    font-size: clamp(0.543125rem, 0.0003rem + 2.7143vw, 1.018125rem);
  }
  .text_wrapper {
    padding-left: clamp(1.143125rem, 0.0003rem + 5.7143vw, 2.143125rem);
  }
  .wrapper {
    height: clamp(10rem, 0rem + 50vw, 18.75rem);
  }
}
@media only screen and (max-width: 320px) {
  .nice_text {
    font-size: 7px;
  }
}
