@font-face {
  font-family: CosiArm;
  src: url(/public/fonts/CosiArm.ttf);
}

@font-face {
  font-family: MontserratArm;
  src: url(/public/fonts/Montserratarm-Light.otf);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: black;
  list-style: none;
  quotes: none;
}

body {
  background-color: #ececec;
  font-family: MontserratArm;
}